<%= partial(:nav) =%>

<main role="main" class="main-container">
  <%= partial(:intro_header, :locals => { :title => 'Alpheios V2 Tutorials' }) =%>

  <div class="content-section-a">
    <div class="container-inner">
      <div class="row">
        <div class="col-sm-12">
          <h2>Getting Started</h2>
        </div>
        <div class="col-lg-5 col-md-12 content-section-header-left content-text-block">
          
          <p>After installing the Alpheios Reading Tools extension for <a href="https://chrome.google.com/webstore/detail/alpheios-reading-tools/apkmkeppocbbebomnhdmhfenfifkhjfd">Chrome</a>
          or <a href="https://addons.mozilla.org/en-US/firefox/addon/alpheios-reading-tools/">Firefox</a>, the Alpheios icon will be
          added to your browser's toolbar. Click on it to <b>Activate Alpheios</b>.
          </p>
        </div>

        <div class="col-lg-7 col-md-12">
          <img class="img-fluid" src="/img/v2/activate.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-c">
    <div class="container-inner">
      <div class="row">
        <div class="col-lg-5 col-md-12 content-section-header-left content-text-block">
          <p>Alternatively, you can activate Alpheios from the browser's context menu.
          </p>
        </div>

        <div class="col-lg-7 col-md-12">
          <img class="img-fluid" src="/img/v2/activate2.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container-inner">
      <div class="row">
        <div class="col-lg-5 col-md-12 content-section-header-left content-text-block">
          <p>The Alpheios panel will open. This panel contains instructions for accessing the word lookup functionality that Alpheios adds to the browser pages on which you activate it.
          </p>
        </div>

        <div class="col-lg-7 col-md-12">
          <img class="img-fluid" src="/img/v2/panel.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-c">
    <div class="container-inner">
      <div class="row">
        <div class="col-lg-5 col-md-12 content-section-header-left content-text-block">
          <p>If you close this panel, you can always reopen it via the <b>Info</b> entry in the <b>Alpheios Reading Tools</b> submenu in browser's context menu or via
          <b>Options</b> button in the Alpheios popup.
          </p>
        </div>

        <div class="col-lg-7 col-md-12">
          <img class="img-fluid" src="/img/v2/popup.png" alt="">
        </div>
      </div>
    </div>
  </div>

</main>

<%= partial(:footer) =%>
